<app-nav-bar [selectedLanguage]="selectedLanguage"  (changeLanguage)="changeLanguage($event)"></app-nav-bar> 

<main>    
    <h2>{{ 'TITLE' | translate }}</h2>

    <div>
    <label>
        {{ 'CHANGE_LANGUAGE' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option> 
        </select>
    </label>
    </div>

    <div>
        <h2>Translation ({{ translate.currentLang }})</h2>
        <pre>{{ translation$ | async | json }}</pre>
    </div>
</main>


<router-outlet></router-outlet>

